.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    display: inline-block;
    padding: 6px 15px;
    border-radius: $border-radius-default;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: $font-size-base;
    font-family: $font-family-base;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &.large {
        font-size: $font-size-base + 6;
        padding: 8px 20px;
        border-radius: $border-radius-large;
    }

    &.default {
        @include button-variation($black-color, $default, $black)
    }
    &.black {
        @include button-variation($white-color, $black, $black)
    }
    &.primary {
        @include button-variation($white-color, $primary, $primary)
    }
    &.success {
        @include button-variation($white-color, $success, $success)
    }
    &.warning {
        @include button-variation($white-color, $warning, $warning)
    }
    &.danger {
        @include button-variation($white-color, $danger, $danger)
    }
}