.btn {
    display: inline-block;
    padding: 7px 12px;
    border-radius: $border-radius-default;
    &.default {
        @include button-variation($black-color, $default, $default)
    }
    &.primary {
        @include button-variation($white-color, $primary, $primary)
    }
    &.success {
        @include button-variation($white-color, $success, $success)
    }
    &.warning {
        @include button-variation($white-color, $warning, $warning)
    }
    &.danger {
        @include button-variation($white-color, $danger, $danger)
    }
}