//Font family
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$font-size-base: 14px;
$font-family-base: 'Open Sans', sans-serif;

$black-color: #111;
$white-color: #fff;

$default: #FFF;
$black: #111;
$primary: #303F9F;
$success: #8BC34A;
$warning: #FFC107;
$danger: #C00;

$border-radius-default: 4px;
$border-radius-large: 5px;

//alert
$info-alert-bg: #B7D9F7;
$success-alert-bg: #DFF0D8;
$warning-alert-bg: #FCF8E3;
$danger-alert-bg: #F2DEDE;