@mixin button-variation($color, $background, $border) {
    background: $background;
    border: 2px solid darken($border, 7%);
    color: $color;
    
    &:hover {
        background: darken($background, 7%);
    }
    &:focus {
        outline: none;
    }
    &.outline {
        color: darken($border, 7%);
        background: none !important;
        &:focus, &:hover {
            color: $color;
            background: darken($background, 7%) !important;
        }
    }
}